.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../images/wall.png);
}

.seconds{
    margin-top: 10px;
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    border-bottom: 10px solid red;
}

.panel{
    margin-top: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.menu-lives{
    display:flex;
    align-items: center;
    justify-content: center;
}

.square{
    height: 150px;
    width: 150px;
    background-color: lightskyblue;
    border: 1px solid black;
}

.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}

.menu-start {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.difficulty-selector {
    font-size: 18px;
    padding: 5px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}

.start-button {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-button:hover {
    background-color: #e63939;
}
